
.module-pagination .flex-direction-nav {
    position: absolute;
    width: 100%;
}

.flex-direction-nav {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.module-pagination .nums {
    display: inline-block;
    position: relative;
}
.bottom_nav .module-pagination {
    padding-bottom: 0;
}

.bottom_nav .module-pagination {
    padding-top: 0px;
}
.module-pagination {
    margin: 0;
    text-align: center;
    font-size: 0;
    padding: 20px 0px 0px;
    position: relative;
}
.more_text_ajax:after {
    background-color: #1771ca;
}

.more_text_ajax:after {
    width: 19px;
    height: 19px;
    left: 5px;
    margin-top: -10px;
    top: 50%;
    background: #ddd url(/local/templates/aspro_next/images/svg/Show_more.svg) center no-repeat;
    -webkit-transition: background 0.7s ease-in-out;
    -moz-transition: background 0.7s ease-in-out;
    -o-transition: background 0.7s ease-in-out;
    transition: background 0.7s ease-in-out;
}
.more_text_ajax:after {
    content: "";
    display: block;
    position: absolute;
}
.more_text_ajax {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 15px 0px 15px 34px;
    color: #333;
}
.ajax_load_btn {
    text-align: center;
    margin: 0px 0px 20px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
}
.blog.banners-small .bottom_nav {
    padding-top: 18px;
}

.blog .bottom_nav {
    text-align: center;
    padding: 50px 0px 20px;
}
.lazy-hidden {
    visibility: hidden;
}
.module-pagination .flex-direction-nav {
    position: absolute;
    width: 100%;
}
.lazy-hidden .module-pagination {
    display: none;
}
.news-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	width: calc(100% - 300px);
	align-content: flex-start;
}
.news-item{
	width: 32.6%;
	box-shadow: 0 0 10px 2px #f2f2f2;
	margin: 0 0 10px;
	position: relative;
	height: 300px;
	border-radius: 7px;
	overflow: hidden;
	transition: all 0.3s;
	
}
.news-item:last-of-type {
    margin: 0 auto 10px 1.2%;
}
.news-item:hover{	
	box-shadow: 0 0 27px 0 rgba(0,0,0,.1);	
	transition: all 0.3s;
}
.news-item_img a {
    line-height: 0;
    font-size: 0;
}
.news-list .preview_picture{		
	width: auto;
	min-width:100%;
	height: 81%;
	object-fit: cover;
	opacity: 0.9;
	transition: all 0.3s;
}
.news-list .news-item:hover .preview_picture{	
	opacity: 1;	
	height: 83%;
	width: auto;
	transition: all 0.3s;	
}
.news-item_img {
    height: 300px;
    overflow: hidden;
}
.news-date-time{
	
}
.news-item_desc {
    padding: 13px 10px 10px;
    position: absolute;
	bottom: 0;
	box-sizing: border-box;	
	background: -webkit-gradient(linear,  left bottom, left top, color-stop(40%, rgb(255, 255, 255)), color-stop(50%, rgba(256, 256, 256, 0.9)), color-stop(80%, rgba(256, 256, 256, 0.7)), color-stop(100%, rgba(256, 256, 256, 0)));
	background: -webkit-linear-gradient(0deg, rgb(255, 255, 255)40%, rgba(256, 256, 256, 0.9)50%, rgba(256, 256, 256, 0.7)80%, rgba(256, 256, 256, 0) 100% );
	
	background: linear-gradient(0deg, rgb(255, 255, 255)40%, rgba(256, 256, 256, 0.9)50%, rgba(256, 256, 256, 0.7)80%, rgba(256, 256, 256, 0) 100% );
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #2A3D71;
	cursor: pointer;	
}
.news-item_desc small{
	display: none;
}
.news-item_desc p{
	margin: 0 0 3px;
}
.news_preview_text {
   /*  display: none;  */
    font-size: 14px;
	line-height: 22px;
	max-height: 50%;
}
.news_list_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.tags_wrap {
    width: 300px;
    padding: 0 20px;
    box-sizing: border-box;	
}
.tags_filter{
	margin-bottom: 50px
}
.search-tags-cloud {
    margin: 0 0 20px;
}
.search-tags-cloud a{
	display: block;
	padding: 10px 0 10px 35px;
	position: relative;
	
}
.search-tags-cloud a::before {
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(/local/templates/general_2/img/beach_tours_icon.png) center left no-repeat;
    content: ' ';
}
.tags_block {
	position: -webkit-sticky;
    position: sticky;
    top: 70px;
}
.button_color{
	background-color:#00C7CB;
	color:#fff;
	transition: background-color 0.3s;
	border-radius: 4px;
	border: 0;
	padding: 5px 12px 4px;
}
.button_color:hover{
	background-color:#20CED2;
	color:#fff;
	transition: background-color 0.3s;	
}
input[type="text"] {
    margin-bottom: 20px;
	border: 1px solid #bebebe;
	border-radius: 4px;
	padding: 3px 10px;
	width: 100%; 
	max-width: 500px;
	box-sizing: border-box;
}
.tags_filter .data-table {
    width: 100%;
}
.search_block {
    margin-bottom: 20px;
	display: none;
}
.news-list font.text{
	width: 100%;
}
/* ========================================== */
@media screen and (min-width: 1100px){
	.news-item:nth-of-type(6n + 1),
	.news-item:nth-of-type(12){
		width: 66.3%;
	}
	.news-item:nth-of-type(6n ){
		margin-right: 1.1%;
	}
	.news-item:last-of-type{
		/* margin: 0 0 10px auto; */
		margin: 0 0 10px 0;
	}
	.news-item:nth-of-type(12){
		margin: 0 0 10px auto;
	}
	.news-item:nth-of-type(6n + 1) .news-item_desc,
	.news-item:nth-of-type(12) .news-item_desc{
		top: 0;
		width: 60%;
		height: 100%;		
		background: -webkit-linear-gradient(90deg, rgb(255, 255, 255)60%, rgba(256, 256, 256, 0.9)70%, rgba(256, 256, 256, 0.6)80%, rgba(256, 256, 256, 0) 100% );
		
		background: linear-gradient(90deg, rgb(255, 255, 255)60%, rgba(256, 256, 256, 0.9)70%, rgba(256, 256, 256, 0.6)80%, rgba(256, 256, 256, 0) 100% );
		padding-right: 10%;
		justify-content: flex-start;
	}
	.news-item:nth-of-type(6n + 1) .news_preview_text {
		display: block;
		max-height: 70%;
	}
	.news-list .news-item:nth-of-type(6n + 1) .preview_picture{		
		width: auto;
		min-width: 63%;
		height: 100%;
		position: absolute;
		right: 0;
	}
	.news-list .news-item:nth-of-type(6n + 1):hover .preview_picture{	
		opacity: 1;
		height: 101%;
		width: auto;
		transition: all 0.3s;	
	}

}



/* ========================================== */

@media screen and (max-width: 1200px){
	.news_list_block h4 {
    margin: 0 0 5px;
	}
	input[type="text"] {
		margin-bottom: 10px;
	}	
	/* .tags_wrap{		
		order: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;		
	} */
	.search_block,
	.tags_filter,
	.tags_block{
		width: 100%;
		margin-bottom: 10px;
	}
	.search_block{
		margin-bottom: 0;
	}
	.button_color{
		margin-bottom: 10px;
	}	
	.news-list {		
		width: calc(100% - 300px);
	}
	.tags_filter{
		width: 300px;
		padding: 0 20px 0 0;
		box-sizing: border-box;
	}
	/* .tags_block{
		width: calc(100% - 300px);
		margin-bottom: 50px;
	} */
}
@media screen and (min-width: 801px) and (max-width: 1100px){
	.news-item{
		width: 49%;
	}	
	.news-item:nth-of-type(3n+1){
		width: 100%;
	}	
	.news-item:nth-of-type(3n + 1) .news-item_desc{
		top: 0;
		width: 65%;
		height: 100%;
		background: -webkit-linear-gradient(90deg, rgb(255, 255, 255)60%, rgba(256, 256, 256, 0.9)70%, rgba(256, 256, 256, 0.6)80%, rgba(256, 256, 256, 0) 100% );
		
		background: linear-gradient(90deg, rgb(255, 255, 255)60%, rgba(256, 256, 256, 0.9)70%, rgba(256, 256, 256, 0.6)80%, rgba(256, 256, 256, 0) 100% );
		padding-right: 10%;
		justify-content: flex-start;
	}		
	.news-item:nth-of-type(3n + 1) .news_preview_text {
		display: block;	
		max-height: 70%;		
	}
	
	.news-list .news-item:nth-of-type(3n + 1) .preview_picture{		
		width: auto;
		min-width: 60%;
		height: 100%;
		position: absolute;
		right: 0;
		
	}
	.news-list .news-item:nth-of-type(3n + 1):hover .preview_picture{	
		opacity: 1;
		height: 102%;
		width: auto;
		transition: all 0.3s;	
	}
}
@media screen and (max-width: 800px){
	.news-item{
		width: 100%;
		height: 400px;
	}
	
	.news_preview_text {
		display: block;
	}
	.news-item_desc{
		bottom: 0;
		width: 100%;
		height: 50%;
		background: -webkit-linear-gradient(0deg, rgb(255, 255, 255)40%, rgba(256, 256, 256, 0.9)50%, rgba(256, 256, 256, 0.7)60%, rgba(256, 256, 256, 0) 100% );		
		background: linear-gradient(0deg, rgb(255, 255, 255)40%, rgba(256, 256, 256, 0.9)50%, rgba(256, 256, 256, 0.7)60%, rgba(256, 256, 256, 0) 100% );		
		justify-content: flex-start;
		/* overflow: hidden; */
	}
	.news-list .news-item .preview_picture{			
		width: auto;
		min-width: 100%;
		height: 83%;
		position: absolute;
		right: 0;
		
	}	
	.news-list .news-item:hover .preview_picture{	
		opacity: 1;
		height: 85%;
		width: auto;
		transition: all 0.3s;	
	}	
}
@media screen and (max-width: 700px){
	.tags_wrap {
		width: 100%;
		padding: 0;
		margin: 0 0 20px;
	}
	.tags_block {
		width: 100%;		
	}
	.tags_filter {
		margin-bottom: 10px;
	}
	.news-list {
		width: 100%;
	}
}
@media screen and (max-width: 500px){	
		
	  
		
	
} 
  
.empty-el {
    width: 100%;
}
 